body{
	font-family: 'Kaushan Script';
	background-color: #cfcfcf;
}

button{
	border-radius: 10px;
	border: thin solid black;
}

#header{
	margin-bottom: 0;
	height: 110px;
}

#newGame{
	 margin-left: 20px;
	 margin-top: 35px;
	 font-size: 30px;
	 border-radius: 10px;
	 vertical-align: top;
	 bir
}

#title{
	 font-family: 'Luckiest Guy';
	 font-size: 90px;
	 margin-left: 210px;
}

#wrongGuesses{
   transform: translateX(-150%);
   font-size: 30px;
   margin-left: 160px; 
   margin-top: 30px;
}

#gameBoard{
	transform: translateX(5%);
	margin: auto 200px;
	text-align: center;
}

.card{
	border: 1px solid black;
	float: left;
	height: 200px;
	width: 200px;
	margin: 10px;
}

.cardFaceDown{
	background-image: url("../images/background.jpg") !important; 
}

.firstPair{
	background-image: url("../images/1.jpg");
	background-repeat: no-repeat; 
	background-position: center;

}

.secondPair{
	background-image: url("../images/2.jpg");
	background-repeat: no-repeat; 
	background-position: center; 
}

.thirdPair{
	background-image: url("../images/3.jpg"); 
	background-repeat: no-repeat; 
	background-position: center;
}

.forthPair{
	background-image: url("../images/4.jpg"); 
	background-repeat: no-repeat; 
	background-position: center;
}

.fifthPair{
	background-image: url("../images/5.jpg"); 
	background-repeat: no-repeat; 
	background-position: center;
}

.sixthPair{
	background-image: url("../images/6.jpg"); 
	background-repeat: no-repeat; 
	background-position: center;
}

#theModal{
	display: none;
	font-size: 40px;
	text-align: center;
}